<p>admin-home works!</p>

<div class="container center">
<ul class="widthul">

    
    <li class="navbar  home" >
        <a routerLink="#" class="anchorhome">home</a>
    </li>

    <li class="navbar viewusers">
        <a routerLink="/view-users" class="anchortagview">View Users</a>
    </li>
    <li class="navbar profile">
        <a routerLink="/admin-profile" class="anchorprofile">View Profile</a>
    </li>
    <li class="navbar add">
        <a routerLink="#" class="anchoradd">add</a>
    </li>

    <li class="navbar add">
        <a routerLink="#" class="anchorlogout">Log Out</a>
    </li>
</ul>
</div>