.widthul{
    width: 300px; 
}
.home:hover{
    background-color: burlywood;
    border-left: 2px solid black;
    
}
.viewusers:hover{
    background-color: burlywood;
    border-left: 2px solid black;
}
.profile:hover{
    background-color: burlywood;
    border-left: 2px solid black; 
}
.add:hover{
    background-color: burlywood;
    border-left: 2px solid black; 
}
.anchortagview{
    text-decoration: none;
}
.anchorhome{
    text-decoration: none;  
}
.anchorprofile{
    text-decoration: none; 
}
.anchoradd{
    text-decoration: none;   
}
.anchorlogout{
    text-decoration: none;  
}

