.registration{
    margin-left:400px;
}
.buttons{
    margin-left: 550px;
}
.a{
    display:flex;  
}
.b{
    display:flex;
}
.c{
    display:flex;
}
.d{
    display:flex;
}
.e{
    display:flex;
}
.aa:hover{

    background: chocolate;
    
}
.hacker{
    display: flex;
}
.margin{
    margin-left: 550px;
}
.backgroundcolor{
    background-color: rgb(13, 243, 13);
    width: 20px;
    height: 20px;
    margin-top: 20px;
}
.fordevelopers{
    margin-left:25px;
}
.practicecoding{
    margin-left:-60px;
}
.border{
    border: 5px solid #dee2e6!important;
    height: 420px;
    width: 450px;
    margin-left:-95px;
    
}
.text1{
    margin-top: 50px;
    width: 400px;
    background-color: rgb(235, 232, 232);
   
}
.text2{
    margin-top: 10px;  
    width: 400px;
    background-color: rgb(235, 232, 232);
}
.inputleft{
    margin-left: 20px;
    margin-top: 30px;
}
.checkbox{
    display: flex;
}
.checkbox1{
    margin-top: 25px;
    margin-left:20px;
}
.remember{
    margin-top:18px;
    margin-left:5px;
}
.forgot{
    margin-left: 115px;
    margin-top:18px;
    text-decoration: none;
}
.button{
    background-color: rgb(13, 243, 13);
    border-radius: 10%;
    margin-left: 358px;
    margin-top:5px;
}
.bordering{
    display: flex;
}
.connect{
    margin-top:20px;
    margin-left: 150px;
}
.images{
    display: flex;
}
.facebook{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.google{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.linkedin{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.cred{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.headers{
    display: flex;
}
.signup{
    margin-left: 90px;
}
.login{
    margin-left: 100px;
}
.signup:hover{
    background-color: rgb(235, 232, 232); 
}
.login:hover{
    background-color: rgb(235, 232, 232); 
}

