
.login{
   background-color:burlywood;
  width: 30%;
  margin: auto;
  height: 350px;
}
.loginbutton{
   
    width: 100%;
  border-radius: 10%;
}
.loginFormHeading{

    margin-left: 85px;
    // width: 100%;
}
.errormessage{
    color: white;
}
.background{
    background-color: yellow;
    
    
}

